/* Reset Dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f7f6;
    color: #333;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    max-width: 500px;
    width: 100%;
    text-align: center;
}

header {
    margin-bottom: 10px;
}

.logo {
    width: 150px;
    margin-bottom: 0.1px;
}

/* Kartu Input */
.card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

h3 { margin-bottom: 20px; color: #2c3e50; }

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

label { font-size: 14px; font-weight: bold; }

input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

button:hover { background-color: #219150; }

/* Hasil Pengumuman */
.result-area {
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    background: white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.hidden { display: none; }

.lulus { color: #27ae60; font-weight: bold; font-size: 24px; }
.tidak-lulus { color: #e74c3c; font-weight: bold; font-size: 24px; }

.btn-reset {
    margin-top: 15px;
    background-color: #7f8c8d;
}

footer { margin-top: 30px; font-size: 12px; color: #95a5a6; }